<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
  <link rel="icon" href="../../assets/images/logovert.png" sizes="32x32">
  <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/icons/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/main.css">
  <title>Perfil</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-default head navbar-inverse navbar-fixed-top">
      <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed hamburguer" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../discover/index.html">
            <img class="logo" src="../../assets/images/logooficial.png" alt="logo">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="../discover/index.html">Descubre</a>
            </li>
            <li>
              <a href="../jobs/index.html">Vacantes</a>
            </li>
            <li>
              <a href="#">Perfil</a>
            </li>
            <li>
              <a href="../live/index.html">En Vivo</a>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle userName" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="../../index.html">Log out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <section class="portada">
    <div class="container-fluid">
      <div class="row search">
        <div class="form-group has-success has-feedback col-md-6 col-md-offset-1">
          <img src="../../assets/images/liluser.jpg" alt="user-img" class="user-img col-md-4 col-xs-6 img-responsive img-thumbnail btn imgUser">
          <h2 class="name-user bold userName">Nombre de usuario</h2>

          <!--           <div>
            <input type="file" class="form-control-file hidden-xs hidden-sm hidden-md hidden-lg" id="exampleInputFile">
            <img id="i" />
            <label for="exampleInputFile">
              <i class="fa fa-camera"></i>
            </label>

          </div> -->
        </div>
      </div>
    </div>
  </section>

  <div class="container follw">
    <div class="row">
      <span class="col-md-offset-2 col-md-2">Descripción</span>
      <span class="col-md-offset-2 col-md-2">
        <button type="button" class="btn btn-primary btn-lg following" data-toggle="modal" data-target="#myModal1">Siguiendo</button>
      </span>
      <span class="col-md-offset-2 col-md-2">
        <button type="button" class="btn btn-primary btn-lg followers" data-toggle="modal" data-target="#myModal2">Seguidores</button>
      </span>
    </div>
  </div>
  <!-- Estructura de modal de seiguiendo -->
  <div class="modal fade black" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Siguiendo</h4>
        </div>
        <div class="modal-body">
          <div class="following-modal"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--  Estructura de modal de seguidores -->
  <div class="modal fade black" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Seguidores</h4>
        </div>
        <div class="modal-body">
          <div class="followers-modal"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid ">
    <div class=" col-md-3 img">
      <div class="thumbnail">
        <div class="caption">
          <h3>Edad: 23años</h3>
          <p>Tipos de Baile: Salsa, house, hip hop y ritmos modernos</p>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <div class="row col-md-9 col-xs-12 bgr">
      <!-- <div class="row"> -->

      <section class="app">
        <h1>Bailar es cómo soñar con tus pies</h1>
        <div class="input-wrapper box">
          <textarea class="black col-xs-10  col-xs-offset-1" name="texto" id="textarea" placeholder="¿Qué estás pensando?" autofocus></textarea>
          <button id="btn" type='submit' class="btn" disabled>POSTEAR</button>
          <input type="file" class="form-control-file hidden-xs hidden-sm hidden-md hidden-lg" id="exampleInputFile">
          <label for="exampleInputFile">
            <i class="fa fa-camera"></i>
          </label>

        </div>

        <div>
          <img id="i" />
        </div>

        <div id="container-post">

        </div>
      </section>

      <article class="square-global col-md-3">
        <img class="col-md-12 col-xs-12" src="http://bestdanceforever.com/wp-content/uploads/2016/10/best-dancer-list-65-lando-wilkin.jpg"
          alt="proyecto">

        <h2 class="second-color">Martin Guerrido</h2>
        <div class="squares">
          <span id="achieve"></span>
          <p class="second-color">Estilos: Salsa y bachata</p>
        </div>
        <div class="squares">
          <span id=""></span>
          <buton class="black btn">like</button>
        </div>
      </article>


      <article class="square-global col-md-3">
        <img class="col-md-12 col-xs-12" src="https://entertainment.ava360.com/uploads/thumbs/1bf83f606-social.jpg" alt="proyecto">

        <h2 class="second-color">Jhoana Gonzales</h2>
        <div class="squares">
          <span id=""></span>
          <p class="second-color">Estilos: Contemporaneo y lírico</p>
        </div>
        <div class="squares">
          <span id=""></span>
          <buton class="black btn">like</button>
        </div>
      </article>

      <article class="square-global col-md-3">
        <img class="col-md-12 col-xs-12" src="https://entertainment.ava360.com/uploads/thumbs/1bf83f606-social.jpg" alt="proyecto">
        <h2 class="second-color">José Castro</h2>
        <div class="squares">
          <span id=""></span>
          <p class="second-color">Estilos: Freestyle</p>
        </div>
        <div class="squares">
          <span id=""></span>
          <buton class="black btn">like</button>
        </div>
      </article>

    </div>

  </div>
  </div>





  <script src="../../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../../js/perfil.js"></script>
  <script src="../../js/data.js"></script>
</body>

</html>
