<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
  <link rel="stylesheet" href="../assets/icons/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>discover</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-default head navbar-inverse marg navbar-fixed-top">
      <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed hamburguer" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
          <a href="../index.html"><img class="logo" src="../assets/images/logooficial.png" alt="logo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Descubre</a></li>
            <li><a href="perfil.html">Perfil</a></li>
            <li><a href="../views/live.html">En Vivo</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>

  <section class="disco">
    <div class="container-fluid overlay">
      <div class="row search">
        <h1 class="text-center bold">Descubre nuevos bailarines <br> y talentos</h1>
        <div class="form-group has-success has-feedback col-md-6 col-md-offset-3">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- cuadros de resultados -->
  <div class="container ">
    <div class="row col-md-12 col-md-offset-0">
      <article class="square-global col-md-3">
        <img class="col-md-12 col-xs-12" src="http://bestdanceforever.com/wp-content/uploads/2016/10/best-dancer-list-65-lando-wilkin.jpg" alt="feed">

        <h2 class="second-color">Título</h2>
        <div class="squares">
          <span id="achieve"></span>
          <p class="second-color">Nombre</p>
        </div>
        <div class="squares">
          <span id=""></span>
          <p class="second-color">likes</p>
        </div>
      </article>


      <article class="square-global col-md-3">
        <img class="col-md-12 col-xs-12" src="https://entertainment.ava360.com/uploads/thumbs/1bf83f606-social.jpg" alt="feed">

        <h2 class="second-color">Título</h2>
        <div class="squares">
          <span id=""></span>
          <p class="second-color">Nombre</p>
        </div>
        <div class="squares">
          <span id=""></span>
          <p class="second-color">likes</p>
        </div>
      </article>

      <article class="square-global col-md-3">
        <img class="col-md-12 col-xs-12" src="https://entertainment.ava360.com/uploads/thumbs/1bf83f606-social.jpg" alt="feed">

        <h2 class="second-color">Título</h2>
        <div class="squares">
          <span id=""></span>
          <p class="second-color">Nombre</p>
        </div>
        <div class="squares">
          <span id=""></span>
          <p class="second-color">likes</p>
        </div>
      </article>

    </div>

  </div>
  </div>


  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/discover.js"></script>
</body>

</html>
