<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/icons/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../vendors/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="../../css/main.css">
  <title>En Vivo</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-default head navbar-inverse">
      <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed hamburguer" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../../index.html">
            <img class="logo" src="../../assets/images/logooficial.png" alt="logo">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="../discover/index.html">Descubre</a>
            </li>
            <li>
              <a href="../perfil/index.html">Perfil</a>
            </li>
            <li>
              <a href="../jobs/index.html">Vacantes</a>
            </li>
            <li>
              <a href="#">En Vivo</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Action</a>
                </li>
                <li>
                  <a href="#">Another action</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>

  <section class="container-fluid">
    <div class="row col-md-12 col-xs-12">
      <!-- <iframe class="col-md-8 col-xs-offset-0 col-xs-12 vid-medium" height="480px" src="https://www.youtube.com/embed/sgmv-MMCWm8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> -->
      <iframe class="col-md-8 col-xs-offset-0 col-xs-12 vid-medium embed-responsive-item" height="480px" src="https://www.youtube.com/embed/dMoAHlK5J-4"
        frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      <div class="">
        <div class=" vid col-md-3 col-xs-10 col-xs-offset-1">
          <h2 class="text-center second-color">Reproducir</h2>
          <!-- <iframe class="vid-medium img col-md-12 col-xs-12" src="https://www.youtube.com/embed/zqvWJkr5U40" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> -->
          <iframe class="vid-medium col-md-12 col-xs-12" src="https://www.youtube.com/embed/Pk_SwunyEck" frameborder="0" gesture="media"
            allow="encrypted-media" allowfullscreen></iframe>
          <iframe class="vid-medium col-md-12 col-xs-12" src="https://www.youtube.com/embed/E8Ecz_sntDo" frameborder="0" gesture="media"
            allow="encrypted-media" allowfullscreen></iframe>
          <iframe class="vid-medium col-md-12 col-xs-12" width="854" height="480" src="https://www.youtube.com/embed/z6DX49UjoKE" frameborder="0"
            gesture="media" allow="encrypted-media" allowfullscreen></iframe>

        </div>
      </div>

    </div>

  </section>


  <script src="../../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../js/live.js"></script>
</body>

</html>
