<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/icons/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../vendors/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="../../css/main.css">
  <title>Vacantes</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-default head navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed hamburguer" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../discover/index.html">
            <img class="logo" src="../../assets/images/logooficial.png" alt="logo">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="../discover/index.html">Descubre</a>
            </li>
            <li>
              <a href="index.html">Vacantes</a>
            </li>
            <li>
              <a href="../perfil/index.html">Perfil</a>
            </li>
            <li>
              <a href="../live/index.html">En Vivo</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Action</a>
                </li>
                <li>
                  <a href="#">Another action</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <div class="container-fluid col-md-10 col-md-push-1 overlay-2 mrg-20">
    <div class="row">
      <div class="media">
        <div class="media-left media-middle col-md-4 col-xs-5">
          <a href="#">
            <img class="media-object img-responsive col-md-6 col-md-offset-3" src="../../assets/images/jobs/3.jpg" alt="job">
          </a>
        </div>
        <div class="media-body container-fluid padding">
          <h2 class="media-heading">Profesor de Zumba</h2>
          <p>Buscamos profesor de Zumba, súper pilas y con experiencia previa. Acércate a Av. El ejército 164, Magdalena. Te
            esperamos!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid col-md-10 col-md-push-1 overlay-2 mrg-20">
    <div class="row">
      <div class="media">
        <div class="media-left media-middle col-md-4 col-xs-5">
          <a href="#">
            <img class="media-object img-responsive col-md-6 col-md-offset-3" src="../../assets/images/jobs/2.jpg" alt="job">
          </a>
        </div>
        <div class="media-body container-fluid padding">
          <h2 class="media-heading">Asistente de Salsa, Bachata y ritmos tropicales</h2>
          <p>Te estamos buscando! Sé parte de la escuela de baile número 1 del país, no necesitas experiencia previa, te esperamos
            en Av. Revelación 1010, Chorrillos</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid col-md-10 col-md-push-1 overlay-2 mrg-20">
    <div class="row">
      <div class="media">
        <div class="media-left media-middle col-md-4 col-xs-5">
          <a href="#">
            <img class="media-object img-responsive col-md-6 col-md-offset-3" src="../../assets/images/jobs/1.jpg" alt="job">
          </a>
        </div>
        <div class="media-body container-fluid padding">
          <h2 class="media-heading">Profesor de danza urbana</h2>
          <p>Por encargo de una de nuestras agencias, nos encontraos en la búsqueda de un profesional en danza urbana 100% comprometido
            con causas sociales y buen trato con niños. Acercárse a Tomás Valle 387, Jesús María</p>
        </div>
      </div>
    </div>
  </div>


  <script src="../../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../js/app.js"></script>
</body>

</html>